
@font-face {
  font-family: "PT Serif Regular";
  src: url("../fonts/PTSerifRegular/PTSerifRegular.eot");
  src: url("../fonts/PTSerifRegular/PTSerifRegular.eot?#iefix")format("embedded-opentype"),
          url("../fonts/PTSerifRegular/PTSerifRegular.woff") format("woff"),
          url("../fonts/PTSerifRegular/PTSerifRegular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "PT Serif Italic";
  src: url("../fonts/PTSerifItalic/PTSerifItalic.eot");
  src: url("../fonts/PTSerifItalic/PTSerifItalic.eot?#iefix")format("embedded-opentype"),
          url("../fonts/PTSerifItalic/PTSerifItalic.woff") format("woff"),
          url("../fonts/PTSerifItalic/PTSerifItalic.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "PT Sans Regular";
  src: url("../fonts/PTSansRegular/PTSansRegular.eot");
  src: url("../fonts/PTSansRegular/PTSansRegular.eot?#iefix")format("embedded-opentype"),
          url("../fonts/PTSansRegular/PTSansRegular.woff") format("woff"),
          url("../fonts/PTSansRegular/PTSansRegular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "PT Sans Bold";
  src: url("../fonts/PTSansBold/PTSansBold.eot");
  src: url("../fonts/PTSansBold/PTSansBold.eot?#iefix")format("embedded-opentype"),
          url("../fonts/PTSansBold/PTSansBold.woff") format("woff"),
          url("../fonts/PTSansBold/PTSansBold.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}